<template>
  <footer class="bd-footer py-4 py-md-4 mt-5 bg-body-secondary">
    <div class="container py-4 py-md-4 px-4 px-md-3 text-body-secondary">
      <div class="row d-flex justify-content-evenly">
        <div class="col-lg-3 mb-3">
          <ul class="list-unstyled small">
            <li class="mb-2">
              This website is <strong>ONLY</strong> made for education
            </li>
            <li class="mb-2">Code by <strong>WUTIPONG</strong></li>
            <li class="mb-2">Made when 2024</li>
            <li>Contact : &copy; <a href="https://www.facebook.com/profile.php?id=100009545882143" target="_blank">Wutipong Vvw</a></li>
          </ul>
        </div>

        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Links</h5>
          <ul>
            <li class="mb-2">Home</li>
            <li class="mb-2">Product</li>
          </ul>
        </div>

        <div class="col-6 col-lg-4 mb-3">
          <h5>Acknowledgments</h5>
          <p>Thank for Teacher <strong>CHUCHART</strong><br> to teach everything about <strong>VUE</strong><br>and any knownledge , knownhow <br>to make website with vue framework </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script setup></script>

<style scoped>
*{
  font-family: "Anta", sans-serif;
}
</style>
