<template>
    <div class="container-fluid bg-body-secondary p-5">
      <p class="text-center" style="color: #ff5733; font-weight: bolder">
        WUTIPONG WANGRAT
      </p>
      <h1>Top 4 Laptop By Budget Around <br />24,000 - 41,000</h1>
      <p class="text-center" style="font-weight: bold; font-size: 20px">
        User status :
        <span v-if="!hasUserData" class="not-active">Not active</span
        ><span v-else class="active">Active</span>
      </p>
    </div>
</template>

<script setup>
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import { ref, computed } from "vue";

const hasUserData = computed(() => {
  const userData = localStorage.getItem("user-info");
  return (
    userData && JSON.parse(userData).email && JSON.parse(userData).password
  );
});

toast.success("Hello welcome", {
  transition: toast.TRANSITIONS.FLIP,
  position: toast.POSITION.TOP_CENTER,
  autoClose: 1000,
});
</script>

<style scoped>
.not-active {
  color: red;
}

.active {
  color: green;
}

.container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CSS for heading */
h1 {
  font-size: 72px;
  color: #000;
  margin-bottom: 20px;
  font-family: "Anta";
  text-align: center;
}

/* CSS for paragraph */
p {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  font-family: "Anta";
}

/* CSS for button */
.btn {
  padding: 10px 20px;
  font-size: 18px;
}

/* CSS for centering */
.text-center {
  text-align: center;
}

/* CSS for link */
.gmail-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.gmail-link:hover {
  text-decoration: underline;
}
</style>
