<template>
  <nav
    class="navbar navbar-expand-lg shadow"
    style="background-image: linear-gradient(to right, #ff6f91, #ff9671)"
  >
    <div class="container text-white">
      <h2>Janrai.com</h2>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link
              :to="{ name: 'home' }"
              class="nav-link"
              aria-current="page"
            >
              <i class="bi bi-house-door-fill"> Home</i>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link :to="{ name: 'products' }" class="nav-link">
              <i class="bi bi-basket2-fill"> Product</i>
            </router-link>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><i class="bi bi-person-circle"> User</i></a
            >
            <ul class="dropdown-menu">
              <li class="nav-item">
                <router-link
                  :to="{ name: 'login' }"
                  class="nav-link"
                  v-if="!hasUserData"
                >
                  <i class="bi bi-box-arrow-in-right"> Login</i>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  :to="{ name: 'signup' }"
                  class="nav-link"
                  v-if="!hasUserData"
                >
                  <i class="bi bi-person-fill"> Sign-up</i>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  :to="{ name: 'login' }"
                  class="nav-link"
                  @click="logout"
                  v-if="hasUserData"
                >
                  <i class="bi bi-box-arrow-left"> Logout</i>
                </router-link>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              @click="notify"
            >
              <i class="bi bi-geo-alt-fill"> Map</i>
            </a>
            <div
              class="modal fade modal-lg-6"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Google Map
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31191.846891381425!2d102.48396687431642!3d12.249574300000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310443fa4c2a7c5b%3A0x4641a10d720c0c7b!2sTrat%20Technical%20College%20(Campus1)!5e0!3m2!1sth!2sth!4v1706617750204!5m2!1sth!2sth"
                      width="800"
                      height="600"
                      style="border: 0"
                      allowfullscreen=""
                      loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="btn btn-primary">
                      <a
                        href="https://www.google.com/maps/dir//Trat+Technical+College+(Campus1)+6GXC%2BRRG+%E0%B8%96%E0%B8%99%E0%B8%99+%E0%B8%97%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%88%E0%B9%89%E0%B8%B2%E0%B8%87+%E0%B8%95%E0%B8%B3%E0%B8%9A%E0%B8%A5+%E0%B8%A7%E0%B8%B1%E0%B8%87%E0%B8%81%E0%B8%A3%E0%B8%B0%E0%B9%81%E0%B8%88%E0%B8%B0+%E0%B8%AD%E0%B8%B3%E0%B9%80%E0%B8%A0%E0%B8%AD%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%95%E0%B8%A3%E0%B8%B2%E0%B8%94+%E0%B8%95%E0%B8%A3%E0%B8%B2%E0%B8%94+23000/@12.2495743,102.5220757,13z/data=!4m5!4m4!1m0!1m2!1m1!1s0x310443fa4c2a7c5b:0x4641a10d720c0c7b"
                        target="_blank"
                        >Go to</a
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script setup>
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import router from "@/router";
import { ref, computed } from "vue";

const hasUserData = computed(() => {
  const userData = localStorage.getItem("user-info");
  return (
    userData && JSON.parse(userData).email && JSON.parse(userData).password
  );
});

const logout = async () => {
  localStorage.clear();
  await router.push({ name: "/" });
};

const notify = () => {
  toast.warning("This is map", {
    transition: toast.TRANSITIONS.FLIP,
    position: toast.POSITION.TOP_CENTER,
    autoClose: 1000,
  });
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: inherit;
}
</style>
