<template>
    <div class="container">
      <h2>404 - Page Not Found</h2>
      <p>The page you are looking for does not exist.</p>
      <router-link :to="{ name: 'home' }"><button class="btn btn-success">Go to home</button></router-link>
    </div>
  </template>
  
  <script setup>
  import { toast } from "vue3-toastify";
  import "vue3-toastify/dist/index.css";
  
  toast.error("Oh, wrong way?", {
    transition: toast.TRANSITIONS.BOUNCE,
    position: toast.POSITION.TOP_CENTER,
    timeout: 500,
  });
  </script>
  
  <style scoped>
  .container {
    text-align: center;
    margin-top: 15rem;
  }
  </style>
  