<template>
  <div class="container d-flex mt-4 justify-content-center gap-3">
    <div class="card shadow" style="width: 20rem">
      <img
        src="https://img.advice.co.th/images_nas/pic_product4/A0154780/A0154780OK_BIG_1.jpg"
        class="card-img-top"
        alt="acer nitro v 15 ANV15-51-578S (Obsidian Black)"
      />
      <div class="card-body">
        <h5 class="card-title">
          Acer Nitro V 15 ANV15-51-578S (Obsidian Black)
        </h5>
        <p class="card-text">
          <ul>
            <li>หน้าจอแสดงผลขนาด 15.6" ระดับ FHD IPS 144Hz</li>
            <li>หน่วยประมวลผล Intel Core i5-13420H Processor</li>
            <li>หน่วยประมวลผลกราฟิก NVIDIA GeForce RTX 2050 Graphics</li>
            <li>มาพร้อม SSD ความจุ 512GB และ RAM DDR5 16GB</li>
            <li>มาพร้อมระบบปฏิบัติการ Windows 11 Home</li>
          </ul>
        </p>
        <div class="d-flex justify-content-end">
          <router-link :to="{name:'Acer-Nitro-V-15-ANV15-51-578S'}" class="btn btn-primary disabled" @click="handleClick" v-if="!hasUserData">About More..</router-link>
          <router-link :to="{name:'Acer-Nitro-V-15-ANV15-51-578S'}" class="btn btn-primary" @click="handleClick" v-else>About More..</router-link>
        </div>
      </div>
    </div>
    <div class="card shadow" style="width: 20rem">
      <img
        src="https://img.advice.co.th/images_nas/pic_product4/A0154781/A0154781OK_BIG_1.jpg"
        class="card-img-top"
        alt="Acer nitro v 15 ANV15-51-574G (Obsidian Black)"
      />
      <div class="card-body">
        <h5 class="card-title">
          Acer Nitro v 15 ANV15-51-574G (Obsidian Black)
        </h5>
        <p class="card-text">
          <ul>
            <li>หน้าจอแสดงผลขนาด 15.6" ระดับ FHD IPS 144Hz</li>
            <li>หน่วยประมวลผล Intel Core i5-13420H Processor</li>
            <li>หน่วยประมวลผลกราฟิก NVIDIA GeForce RTX 4050 Graphics</li>
            <li>มาพร้อม SSD ความจุ 512GB และ RAM DDR5 16GB</li>
            <li>มาพร้อมระบบปฏิบัติการ Windows 11 Home</li>
          </ul>
        </p>
        <div class="d-flex justify-content-end">
          <router-link :to="{name:'Acer-Nitro-v-15-ANV15-51-574G'}" v-if="!hasUserData" class="btn btn-primary disabled" @click="handleClick">About More..</router-link>
          <router-link :to="{name:'Acer-Nitro-v-15-ANV15-51-574G'}" v-else class="btn btn-primary" @click="handleClick">About More..</router-link>
        </div>
      </div>
    </div>
    <div class="card shadow" style="width: 20rem">
      <img
        src="https://img.advice.co.th/images_nas/pic_product4/A0152299/A0152299OK_BIG_1.jpg"
        class="card-img-top"
        alt="Acer Nitro 16 AN16-41-R6VJ (Obsidian Black)"
      />
      <div class="card-body">
        <h5 class="card-title">Acer Nitro 16 AN16-41-R6VJ (Obsidian Black)</h5>
        <p class="card-text">
          <ul>
            <li>หน้าจอแสดงผลขนาด 16.0" ระดับ WUXGA IPS 165Hz</li>
            <li>หน่วยประมวลผล AMD Ryzen 7 7840HS Processor</li>
            <li>หน่วยประมวลผลกราฟิก NVIDIA GeForce RTX 4050 Graphics</li>
            <li>มาพร้อม SSD ความจุ 512GB และ RAM DDR5 16GB</li>
            <li>มาพร้อมระบบปฏิบัติการ Windows 11 Home</li>
          </ul>
        </p>
        <div class="d-flex justify-content-end">
          <router-link :to="{name:'Acer-Nitro-16-AN16-41-R6VJ'}" v-if="!hasUserData" class="btn btn-primary disabled" @click="handleClick">About More..</router-link>
          <router-link :to="{name:'Acer-Nitro-16-AN16-41-R6VJ'}" v-else class="btn btn-primary" @click="handleClick">About More..</router-link>
        </div>
      </div>
    </div>
    <div class="card shadow" style="width: 20rem">
      <img
        src="https://img.advice.co.th/images_nas/pic_product4/A0152300/A0152300OK_BIG_1.jpg"
        class="card-img-top"
        alt="Acer Nitro 16 AN16-41-R846 (Obsidian Black)"
      />
      <div class="card-body">
        <h5 class="card-title">Acer Nitro 16 AN16-41-R846 (Obsidian Black)</h5>
        <p class="card-text">
          <ul>
            <li>หน้าจอแสดงผลขนาด 16.0" ระดับ WUXGA IPS 165Hz</li>
            <li>หน่วยประมวลผล AMD Ryzen 7 7840HS Processor</li>
            <li>หน่วยประมวลผลกราฟิก NVIDIA GeForce RTX 4060 Graphics</li>
            <li>มาพร้อม SSD ความจุ 512GB และ RAM DDR5 16GB</li>
            <li>มาพร้อมระบบปฏิบัติการ Windows 11 Home</li>
          </ul>
        </p>
        <div class="d-flex justify-content-end">
          <router-link :to="{name:'Acer-Nitro-16-AN16-41-R846'}" v-if="!hasUserData" class="btn btn-primary disabled" @click="handleClick">About More..</router-link>
          <router-link :to="{name:'Acer-Nitro-16-AN16-41-R846'}" v-else class="btn btn-primary" @click="handleClick">About More..</router-link>
        </div>
        </div>
    </div>
  </div> 
</template>

<script setup>
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import { ref, computed } from "vue";

const hasUserData = computed(() => {
  const userData = localStorage.getItem("user-info");
  return (
    userData && JSON.parse(userData).email && JSON.parse(userData).password
  );
});

const handleClick = () => {
  window.scrollTo({ top: 0, behavior: 'smooth' })
}

toast.info("This is our recommended", {
  transition: toast.TRANSITIONS.FLIP,
  position: toast.POSITION.TOP_CENTER,
  autoClose: 1000,
});
</script>

<style scoped>
li{
  font-family: 'Noto Sans Thai';
}
</style>
