<template>
  <div class="container col-12 col-xl-5 mt-4 p-3 border border-dark-subtle">
    <div
      id="carouselRide"
      class="carousel slide carousel-dark"
      data-bs-ride="true"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0154780/A0154780OK_BIG_1.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro v 15 ANV15-51-574G</h5>
            <p>Picture 1</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0154780/A0154780OK_BIG_2.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro v 15 ANV15-51-574G</h5>
            <p>Picture 2</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0154780/A0154780OK_BIG_3.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro v 15 ANV15-51-574G</h5>
            <p>Picture 3</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0154780/A0154780OK_BIG_4.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro v 15 ANV15-51-574G</h5>
            <p>Picture 4</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0154780/A0154780OK_BIG_5.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro v 15 ANV15-51-574G</h5>
            <p>Picture 5</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselRide"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselRide"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="mt-3">
      <h5>
        Notebook Acer Nitro v 15 ANV15-51-574G (Obsidian black) - A0154780
      </h5>
      <div class="border-bottom border-dark-subtle mt-4 pb-2">
        <ul>
          <li>หน้าจอแสดงผลขนาด 15.6" ระดับ FHD IPS 144Hz</li>
          <li>หน่วยประมวลผล Intel Core i5-13420H Processor</li>
          <li>หน่วยประมวลผลกราฟิก NVIDIA GeForce RTX 4050 Graphics</li>
          <li>มาพร้อม SSD ความจุ 512GB และ RAM DDR5 16GB</li>
          <li>มาพร้อมระบบปฏิบัติการ Windows 11 Home</li>
        </ul>
      </div>
      <p>&nbsp;</p>
      <p style="text-align: start">ประกัน 3-3-3</p>
    </div>
  </div>
  <div
    class="container bg-body-tertiary mt-4 p-3 col-12 col-xl-9 border border-dark-subtle shadow"
  >
    <h3 style="text-align: center">
      รายละเอียดสินค้า Notebook Acer Nitro v 15 ANV15-51-574G (Obsidian black)
    </h3>
    <div class="item-detail">
      <p style="margin-top: 1rem">
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202309222196685905.png"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p>
        <strong
          >NITRO V 15 <br />
          Live for Victory
        </strong>
      </p>
      <p>
        กระตุ้นอะดรีนาลีนในการเล่นเกมของคุณให้ตื่นเต้น และท้าทายขึ้นด้วย Acer
        NITRO V 15 ด้วยแล็ปท็อปรุ่นนี้ที่ผสมผสานขุมพลังเข้ากับสไตล์ได้อย่างลงตัว
        จึงสามารถใช้งานได้อย่างเหนือความคาดหมาย
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202309221106375500.png"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>ประสิทธิภาพที่เหนือระดับ</strong></p>
      <p>
        ปลดปล่อยศักยภาพการเล่นเกมของคุณด้วย NITRO V 15 ที่มาพร้อมกับระบบประมวลผล
        13th Gen Intel® Core™ และด้วยพื้นที่เก็บข้อมูลความเร็วสูงสุดและ DDR5 RAM
        ช่วยให้คุณเคลื่อนไหวได้เร็วเป็นพิเศษ
        ไม่ว่าจะเป็นการต่อสู้ตรงกลางแมพหรือการบุกโจมตีครั้งสุดท้ายที่ป้อมศัตรู
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202309228116402577.png"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>NVIDIA® GeForce RTX™ 40 Series Laptop GPU</strong></p>
      <p>
        NVIDIA® GeForce RTX™ 40 Series Laptop GPU
        สามารถใช้งานด้วยความเร็วที่เหนือระดับสำหรับเหล่าเกมเมอร์และครีเอเตอร์
        ขับเคลื่อนด้วยสถาปัตยกรรม NVIDIA Ada Lovelace ประสิทธิภาพสูง
        ที่พัฒนาไปอย่างก้าวกระโดดทั้งในด้านประสิทธิภาพและกราฟิกที่ขับเคลื่อนด้วย
        AI-powered graphics
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202309222779999273.png"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>An Era of Visual Dominance</strong></p>
      <p>
        รับชมความเป็นเลิศของระบบดิจิทัลที่แสดงผลออกมาในรูปแบบ Full HD
        ที่สดใสบนจอภาพขนาด 15.6 นิ้ว
        ซึ่งแสดงผลภาพได้อย่างสมบูรณ์แบบในอัตรารีเฟรชที่รวดเร็วเป็นพิเศษ 144Hz
        และอัตราส่วนจอภาพที่กว้างขวาง 16:9
        เหมือนกับว่ามีประตูที่จะพาคุณเข้าสู่โลกของเกมอยู่ตรงหน้าของคุณ
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202309223129962025.png"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>Keep Your Cool</strong></p>
      <p>
        ช่วยให้ตัวเครื่องเย็นอยู่เสมอแม้จะมีการใช้งานอย่างหนักหน่วง
        ด้วยพัดลมแบบคู่ที่เป็นนวัตกรรมใหม่และระบบระบายความร้อนที่มีประสิทธิภาพของ
        NITRO V 15 แม้ในขณะที่คุณกำลังต่อสู้อย่างเมามันในเกม
        แต่แล็ปท็อปของคุณก็ยังคงความเงียบสงบเหมือนอยู่ในห้วงอวกาศ
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202309222474098042.png"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>No Limits with NitroSense™</strong></p>
      <p>
        ใช้กลยุทธ์การเล่นเกมในตัวของคุณให้เกิดประโยชน์ด้วยแอป NitroSense
        ที่สามารถใช้งานได้อย่างหลากหลาย
        ปรับแต่งการตั้งค่าในเกมให้เข้ากับสไตล์การเล่นของคุณ
        ไม่ว่าจะปรับระดับความเร็วของพัดลมสำหรับการต่อสู้อันดุเดือดหรือปรับระดับแสงเพื่อการสำรวจที่สมจริงมากยิ่งขึ้น
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202309222297379483.png"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>Always Be Heard and Seen</strong></p>
      <p>
        DTS® X: Ultra Audio
        จะมอบประสิทธิภาพด้านเสียงที่ดีในระหว่างการต้อสู้ในห้วงอวกาศของคุณ
        สัมผัสกับการสื่อสารที่คมชัดด้วยเทคโนโลยีลดเสียงรบกวนที่ขับเคลื่อนด้วย AI
        อย่าง Acer PurifiedView และ PurifiedVoice
      </p>
      <p>&nbsp;</p>
      <p style="text-align: left">
        <strong style="text-decoration: underline">อ้างอิงจาก:</strong>
        www.acer.com
      </p>
    </div>
  </div>

  <!-- table -->
  <div
    class="container bg-body-tertiary mt-5 p-3 col-12 col-xl-9 border border-dark-subtle shadow"
  >
    <h3 style="text-align: center">
      คุณสมบัติ Notebook Acer Nitro v 15 ANV15-51-574G (Obsidian black)
    </h3>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="col-3">Brand</td>
          <td>ACER</td>
        </tr>
        <tr>
          <td class="col-3">Model</td>
          <td>Nitro V 15 ANV15-51-574G/T002 (NH.QN8ST.002)</td>
        </tr>
        <tr>
          <td class="col-3">Processor</td>
          <td>
            Intel Core i5-13420H (2.1GHz up to 4.6GHz, 12MB Intel Smart Cache)
          </td>
        </tr>
        <tr>
          <td class="col-3">Chipset</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td class="col-3">Graphics</td>
          <td>NVIDIA GeForce RTX 4050 (6GB GDDR6)</td>
        </tr>
        <tr>
          <td class="col-3">Display Screen</td>
          <td>15.6" 1920x1080 (FHD), IPS, 144Hz, 45% NTSC</td>
        </tr>
        <tr>
          <td class="col-3">Main Memory</td>
          <td>16GB (16GB x1) DDR5</td>
        </tr>
        <tr>
          <td class="col-3">Memory Slot</td>
          <td>2x Slots</td>
        </tr>
        <tr>
          <td class="col-3">Max Memory</td>
          <td>32GB</td>
        </tr>
        <tr>
          <td class="col-3">Storage</td>
          <td>512GB PCIe Gen4 NVMe M.2 SSD</td>
        </tr>
        <tr>
          <td class="col-3">Storage Slot</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td class="col-3">Optical Disk Drive</td>
          <td>None</td>
        </tr>
        <tr>
          <td class="col-3">Web Camera</td>
          <td>HD Camera</td>
        </tr>
        <tr>
          <td class="col-3">Sound Technology</td>
          <td>DTS® X:Ultra Audio & Acer TrueHarmony™</td>
        </tr>
        <tr>
          <td class="col-3">Audio Jack</td>
          <td>
            3.5 mm headphone/speaker jack, supporting headsets with built-in
            microphone
          </td>
        </tr>
        <tr>
          <td class="col-3">Speaker</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="col-3">Network</td>
          <td>10/100/1000 LAN</td>
        </tr>
        <tr>
          <td class="col-3">Wireless</td>
          <td>Wireless 802.11ax</td>
        </tr>
        <tr>
          <td class="col-3">Bluetooth</td>
          <td>Bluetooth 5.1</td>
        </tr>
        <tr>
          <td class="col-3">Ports</td>
          <td>
            1x USB Type-C port Supporting: [Thunderbolt 4 / USB 3.2 Gen 2 (up to
            10 Gbps) / DisplayPort over USB-C / USB charging / DC-in port] 3x
            USB 3.2 Gen 1 port with one featuring power-off USB charging 1x HDMI
            2.1 port with HDCP support
          </td>
        </tr>
        <tr>
          <td class="col-3">CardReader</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td class="col-3">Power Adapter</td>
          <td>3-pin 135 W AC adapter</td>
        </tr>
        <tr>
          <td class="col-3">Battery</td>
          <td>57.5 Wh, 4-cell Li-ion battery</td>
        </tr>
        <tr>
          <td class="col-3">OS</td>
          <td>Windows 11 Home</td>
        </tr>
        <tr>
          <td class="col-3">Material</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td class="col-3">Keyboard Type</td>
          <td>ENG/TH Backlit Keyboard</td>
        </tr>
        <tr>
          <td class="col-3">Backlit</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="col-3">Touchpad</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="col-3">Finger Print</td>
          <td>None</td>
        </tr>
        <tr>
          <td class="col-3">Dimension</td>
          <td>(W x D x H) : 36.23 x 23.98 x 2.69 cm</td>
        </tr>
        <tr>
          <td class="col-3">Net Weight</td>
          <td>2.11 KG</td>
        </tr>
        <tr>
          <td class="col-3">Package Dimension</td>
          <td>(W x D x H) : 31.60 x 50.50 x 7.20 cm</td>
        </tr>
        <tr>
          <td class="col-3">Gross Weight</td>
          <td>3.43 KG</td>
        </tr>
        <tr>
          <td class="col-3">Volume</td>
          <td>11,489.76 cm3</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Link -->
  <div
    class="container bg-body-tertiary mt-5 p-3 col-12 col-xl-9 border border-dark-subtle shadow"
  >
    <h5 class="border-bottom border-dark pb-2">
      <strong>ตัวอย่างรีวิวสินค้า</strong>
    </h5>
    <p>&nbsp;</p>
    <p>
      <iframe
        width="720"
        height="360"
        src="https://www.youtube.com/embed/IfXI5lTzNf0?si=Z51EUDpvk9OoiTIr&amp;start=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </p>
    <p>&nbsp;</p>
    <h5 class="border-top border-dark pt-3">
      <strong>ซื้อสินค้าได้ที่</strong>
    </h5>
    <a
      href="https://www.advice.co.th/product/notebook-gaming/notebook-gaming-acer/notebook-acer-nitro-v-15-anv15-51-574g-obsidian-black-"
      target="_blank"
      class="grid gap-0 column-gap-3"
      ><img
        src="https://th-test-11.slatic.net/shop/e29f27ce99176b44e603e22e13924749.png"
        style="width: 15ch; border-radius: 10%; height: 20%"
        alt=""
    /></a>
    <a
      href="https://www.bnn.in.th/th/p/acer-notebook-nitro-v-15-anv15-51-574g-black-4711121685880_dy0e96"
      target="_blank"
      style="padding-left: 15px"
      ><img
        src="https://fortunetown.co.th/wp-content/uploads/2021/09/BananaIT_Logo.jpg"
        alt=""
        style="width: 15ch; border-radius: 10%; height: 10ch"
    /></a>
    <a
      href="https://www.jib.co.th/web/product/readProduct/62554/1339/NOTEBOOK--%E0%B9%82%E0%B8%99%E0%B9%89%E0%B8%95%E0%B8%9A%E0%B8%B8%E0%B9%8A%E0%B8%84--Acer Nitro v 15 ANV15-51-574G--OBSIDIAN-BLACK-"
      target="_blank"
      style="padding-left: 15px"
      ><img
        src="https://www.jib.co.th/web/images/logo/logo-b.png?v=02"
        alt=""
        style="width: 15ch; border-radius: 10%; height: 10ch"
    /></a>
  </div>
</template>

<script setup>
</script>

<style scoped>
p {
  font-size: 18px;
  text-align: center;
}
img {
  width: 90%;
}
</style>
