<template>
  <div class="container col-12 col-xl-5 mt-4 p-3 border border-dark-subtle">
    <div
      id="carouselRide"
      class="carousel slide carousel-dark"
      data-bs-ride="true"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselRide"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0152299/A0152299OK_BIG_1.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro 16 AN16-41-R6VJ</h5>
            <p>Picture 1</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0152299/A0152299OK_BIG_2.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro 16 AN16-41-R6VJ</h5>
            <p>Picture 2</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0152299/A0152299OK_BIG_3.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro 16 AN16-41-R6VJ</h5>
            <p>Picture 3</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0152299/A0152299OK_BIG_4.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro 16 AN16-41-R6VJ</h5>
            <p>Picture 4</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="https://img.advice.co.th/images_nas/pic_product4/A0152299/A0152299OK_BIG_5.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Acer Nitro 16 AN16-41-R6VJ</h5>
            <p>Picture 5</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselRide"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselRide"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="mt-3">
      <h5>Notebook Acer Nitro 16 AN16-41-R6VJ (Obsidian black) - A0154780</h5>
      <div class="border-bottom border-dark-subtle mt-4 pb-2">
        <ul>
          <li>หน้าจอแสดงผลขนาด 16.0" ระดับ WUXGA IPS 165Hz</li>
          <li>หน่วยประมวลผล AMD Ryzen 7 7840HS Processor</li>
          <li>หน่วยประมวลผลกราฟิก NVIDIA GeForce RTX 4050 Graphics</li>
          <li>มาพร้อม SSD ความจุ 512GB และ RAM DDR5 16GB</li>
          <li>มาพร้อมระบบปฏิบัติการ Windows 11 Home</li>
        </ul>
      </div>
      <p>&nbsp;</p>
      <p style="text-align: start">ประกัน 3-3-3</p>
    </div>
  </div>
  <div
    class="container bg-body-tertiary mt-4 p-3 col-12 col-xl-9 border border-dark-subtle shadow"
  >
    <h3 style="text-align: center">
      รายละเอียดสินค้า Notebook Acer Nitro 16 AN16-41-R6VJ (Obsidian black)
    </h3>
    <div class="item-detail">
      <p style="margin-top: 1rem">
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310301237367489.jpg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p>
        <strong>Nitro 16 AMD </strong>
      </p>
      <p>
        Acer Nitro 16 AMD ที่มาพร้อมกับ DLSS 3
        เป็นแล็ปท็อปที่เหมาะสำหรับใช้เล่นเกมหรือใช้ที่โรงเรียน
        และใช้งานด้วยเทคโนโลยีใหม่ล่าสุดทั้งหมด คุณจึงสามารถแชท ท่องเว็บ สตรีม
        แก้ไข บันทึก และเล่นได้อย่างไร้กังวล
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310302774189673.jpg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>ขุมพลังเพื่อก้าวข้ามทุกสิ่ง</strong></p>
      <p>
        แล็ปท็อปสำหรับเล่นเกมที่มีทั้งความเร็วและทนทาน
        ขับเคลื่อนด้วยระบบประมวลผลล่าสุดอย่าง AMD Ryzen™, GPU ของแล็ปท็อป
        NVIDIA® GeForce RTX™ 40 Series และ SSD M.2 PCIe พร้อม RAM DDR5 สูงสุด
        32GB
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310303527513812.jpg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>แล็ปท็อป NVIDIA® GeForce RTX™ 40 Series</strong></p>
      <p>
        GPU แล็ปท็อป NVIDIA® GeForce RTX™ 40 Series
        ใช้งานด้วยความเร็วที่เหนือระดับสำหรับเหล่าเกมเมอร์และครีเอเตอร์
        ขับเคลื่อนด้วยสถาปัตยกรรม NVIDIA Ada Lovelace ประสิทธิภาพสูง
        ที่พัฒนาไปอย่างก้าวกระโดดทั้งในด้านประสิทธิภาพและกราฟิกที่ขับเคลื่อนด้วย
        AI
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310301538114922.jpg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>ประสิทธิภาพที่เหนือไปกว่าแบบ QHD</strong></p>
      <p>
        ด้วยอัตรารีเฟรชสูงสุด 165Hz บนแผงจอ 16:10 ขนาด 16 นิ้ว ทั้งในรูปแบบ
        WUXGA หรือ WQXGA พร้อมด้วย Advanced Optimus – การเล่นเกมของคุณลื่นไหล
        ไม่สะดุด และไม่มีใครเทียบได้
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310303260307251.jpg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>ระบบระบายความร้อนที่ยอดเยี่ยม</strong></p>
      <p>
        ตัวเครื่องที่ขัดเกลามาใหม่ มาพร้อมกับลูกเล่นเพิ่มเติมเล็กน้อย:
        การระบายความร้อนด้วยพัดลมคู่ ท่อไอดีคู่ ท่อไอเสียสี่ตัว
        และเอฟเฟกต์ความเย็นของซิลิโคนแบบโลหะเหลวบนซีพียู
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310307828794318.jpeg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>ใช้งานได้อย่างรวดเร็วด้วย Wi-Fi 6E</strong></p>
      <p>
        นำหน้าในโลกออนไลน์ด้วยการควบคุมเครือข่ายของคุณ
        และเน้นไปที่การเล่นเกมด้วยอะแดปเตอร์ Killer™ Ethernet E26001 และรองรับ
        Wi-Fi 6E RZ616
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310301366975425.jpg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>พอร์ตที่หลากหลาย</strong></p>
      <p>
        ใช้ประโยชน์จากพอร์ตต่างๆ มากมาย รวมถึง HDMI 2.1 และ USB4.
        มีแม้กระทั่งตัวอ่านการ์ด MicroSD™ หากคุณต้องการ
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310301439453483.jpg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>ส่องสว่างด้วยไฟ RGB</strong></p>
      <p>
        เพิ่มสีสันด้วยคีย์บอร์ดไฟ RGB แบบ 4 โซน1
        และควบคุมการทำงานภายในของแล็ปท็อปผ่านปุ่มเรียกโปรแกรม NitroSense
        ใช้ควบคุมความเร็วพัดลม ระบบไฟ และอีกมากมาย
      </p>
      <p>&nbsp;</p>
      <p>
        <img
          src="https://img.advice.co.th/images_nas/advice_activity/202310302195049764.jpeg"
          alt=""
        />
      </p>
      <p>&nbsp;</p>
      <p><strong>กำหนดนิยามใหม่ให้กับการฟังเสียงของคุณ</strong></p>
      <p>
        เสียงที่ดีกว่าจะมอบความได้เปรียบในการแข่งขันและประสบการณ์การเล่นที่ดื่มด่ำมากยิ่งขึ้นผ่านลำโพง
        2W สองตัวพร้อมด้วย DTS:X® Ultra
      </p>
      <p>&nbsp;</p>
      <p style="text-align: left">
        <strong style="text-decoration: underline">อ้างอิงจาก:</strong>
        www.acer.com
      </p>
    </div>
  </div>

  <!-- table -->
  <div
    class="container bg-body-tertiary mt-5 p-3 col-12 col-xl-9 border border-dark-subtle shadow"
  >
    <h3 style="text-align: center">
      คุณสมบัติ Notebook Acer Nitro 16 AN16-41-R6VJ (Obsidian black)
    </h3>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="col-3">Brand</td>
          <td>ACER</td>
        </tr>
        <tr>
          <td class="col-3">Model</td>
          <td>Nitro 16 (AN16-41-R6VJ/T004)</td>
        </tr>
        <tr>
          <td class="col-3">Processor</td>
          <td>
            AMD Ryzen 7 7840HS (3.8GHz up to 5.1GHz, 8MB L2 Cache / 16MB L3
            Cache)
          </td>
        </tr>
        <tr>
          <td class="col-3">Chipset</td>
          <td>AMD SoC Platform</td>
        </tr>
        <tr>
          <td class="col-3">Graphics</td>
          <td>NVIDIA GeForce RTX 4050 (6GB GDDR6)</td>
        </tr>
        <tr>
          <td class="col-3">Display Screen</td>
          <td>
            16.0" 1920x1200 (WUXGA), IPS, 165Hz, 100% sRGB, high-brightness (400
            nits)
          </td>
        </tr>
        <tr>
          <td class="col-3">Main Memory</td>
          <td>16GB (16GB x1) DDR5</td>
        </tr>
        <tr>
          <td class="col-3">Memory Slot</td>
          <td>2x Slots</td>
        </tr>
        <tr>
          <td class="col-3">Max Memory</td>
          <td>32GB</td>
        </tr>
        <tr>
          <td class="col-3">Storage</td>
          <td>512GB SSD M.2 NVMe PCIe Gen4</td>
        </tr>
        <tr>
          <td class="col-3">Storage Slot</td>
          <td>2x M.2 SSD</td>
        </tr>
        <tr>
          <td class="col-3">Optical Disk Drive</td>
          <td>None</td>
        </tr>
        <tr>
          <td class="col-3">Web Camera</td>
          <td>HD Camera</td>
        </tr>
        <tr>
          <td class="col-3">Sound Technology</td>
          <td>DTS X:Ultra Audio, Acer TrueHarmony technology</td>
        </tr>
        <tr>
          <td class="col-3">Audio Jack</td>
          <td>
            3.5 mm headphone/speaker jack, supporting headsets with built-in
            microphone
          </td>
        </tr>
        <tr>
          <td class="col-3">Speaker</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="col-3">Network</td>
          <td>10/100/1000 LAN</td>
        </tr>
        <tr>
          <td class="col-3">Wireless</td>
          <td>Wireless 802.11ax (Wi-Fi 6E)</td>
        </tr>
        <tr>
          <td class="col-3">Bluetooth</td>
          <td>Bluetooth 5.1</td>
        </tr>
        <tr>
          <td class="col-3">Ports</td>
          <td>
            1x USB Type-C port (USB 3.2 Gen 2 (up to 10 Gbps)) 1x USB Type-C
            port (USB 4) 2x USB 3.2 Gen 2 ports with one featuring power-off USB
            charging 1x USB 2.0 port
          </td>
        </tr>
        <tr>
          <td class="col-3">CardReader</td>
          <td>microSD Card reader</td>
        </tr>
        <tr>
          <td class="col-3">Power Adapter</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="col-3">Battery</td>
          <td>4-Cell</td>
        </tr>
        <tr>
          <td class="col-3">OS</td>
          <td>Windows 11 Home</td>
        </tr>
        <tr>
          <td class="col-3">Material</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td class="col-3">Keyboard Type</td>
          <td>ENG/TH Backlit Keyboard</td>
        </tr>
        <tr>
          <td class="col-3">Backlit</td>
          <td>4 Zone RGB</td>
        </tr>
        <tr>
          <td class="col-3">Touchpad</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="col-3">Finger Print</td>
          <td>None</td>
        </tr>
        <tr>
          <td class="col-3">Dimension</td>
          <td>(W x D x H) : 36.01 x 27.99 x 2.79 cm</td>
        </tr>
        <tr>
          <td class="col-3">Net Weight</td>
          <td>2.70 KG</td>
        </tr>
        <tr>
          <td class="col-3">Package Dimension</td>
          <td>(W x D x H) : 8.00 x 55.00 x 34.00 cm</td>
        </tr>
        <tr>
          <td class="col-3">Gross Weight</td>
          <td>4.40 KG</td>
        </tr>
        <tr>
          <td class="col-3">Volume</td>
          <td>14,960.00 cm3</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Link -->
  <div
    class="container bg-body-tertiary mt-5 p-3 col-12 col-xl-9 border border-dark-subtle shadow"
  >
    <h5 class="border-bottom border-dark pb-2">
      <strong>ตัวอย่างรีวิวสินค้า</strong>
    </h5>
    <p>&nbsp;</p>
    <p>
      <iframe
        width="720"
        height="360"
        src="https://www.youtube.com/embed/VoKgZDCBq7c?si=kcaFmxWVMm1ZAAs0&amp;start=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </p>
    <p>&nbsp;</p>
    <h5 class="border-top border-dark pt-3">
      <strong>ซื้อสินค้าได้ที่</strong>
    </h5>
    <a
      href="https://www.advice.co.th/product/notebook-gaming/notebook-gaming-acer/notebook-acer-nitro-16-an16-41-r6vj-obsidian-black-"
      target="_blank"
      class="grid gap-0 column-gap-3"
      ><img
        src="https://th-test-11.slatic.net/shop/e29f27ce99176b44e603e22e13924749.png"
        style="width: 15ch; border-radius: 10%; height: 20%"
        alt=""
    /></a>
    <a
      href="https://www.bnn.in.th/th/p/acer-notebook-nitro-16-an16-41-r6vj-black-a-4711121462429_dxne70"
      target="_blank"
      style="padding-left: 15px"
      ><img
        src="https://fortunetown.co.th/wp-content/uploads/2021/09/BananaIT_Logo.jpg"
        alt=""
        style="width: 15ch; border-radius: 10%; height: 10ch"
    /></a>
    <a
      href="https://www.jib.co.th/web/product/readProduct/60906/24/NOTEBOOK--%E0%B9%82%E0%B8%99%E0%B9%89%E0%B8%95%E0%B8%9A%E0%B8%B8%E0%B9%8A%E0%B8%84--ACER-NITRO-16-AN16-41-R6VJ--OBSIDIAN-BLACK-"
      target="_blank"
      style="padding-left: 15px"
      ><img
        src="https://www.jib.co.th/web/images/logo/logo-b.png?v=02"
        alt=""
        style="width: 15ch; border-radius: 10%; height: 10ch"
    /></a>
  </div>
</template>

<script setup>

</script>

<style scoped>
p {
  font-size: 18px;
  text-align: center;
}
img {
  width: 90%;
}
</style>
