<template>
  <div class="container col-6 mt-5 mb-3">
    <div class="card border border-dark">
      <div class="card-body ps-3">
        <h2 class="card-title pt-5 mb-5 text-center">Login</h2>
            <p class="card-text p-4">
                  <form @submit.prevent>
                      <label for="" class="form-label">Email</label><br>
                      <input type="email" placeholder="Email" v-model="userForm.email" class="form-control mb-3" style="width: 100%" required><br>
                      <span class="text-danger" v-for="error in v$.email.$error" :key="error.$uid" :v-if="true">{{ error.$message }}</span><br>
                      
                      <label for="" class="form-label">Password</label><br>
                      <input type="password" placeholder="Password" v-model="userForm.password" class="form-control mb-3" style="width: 100%" required>
                      <span class="text-danger" v-for="error in v$.password.$error" :key="error.$uid" :v-if="true">{{ error.$message }}</span><br>
                      
                      <button type="submit" class="btn" @click="submitForm">Login</button>
                  </form>
                  <p class="text-center mt-5">Or Sign-up using <br>
                      <router-link :to="{ name:'signup' }" class="signup-link">SIGN UP</router-link>
                  </p>
            </p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { reactive, computed } from 'vue'
import axios from 'axios';
import { required, email } from "@vuelidate/validators";
import { useVuelidate } from '@vuelidate/core';
// import { toast } from "vue3-toastify";
// import "vue3-toastify/dist/index.css";
import router from '@/router'

const state = reactive({
    name:'home'
})
const userForm = reactive({
    email: "",
    password: "",
})

//Error message
const errorUser = reactive({
    userNotFound: ""
})

const rules = computed(() => {
    return {
        email: { required, email },
        password: { required }
    }
})

const v$ = useVuelidate(rules, userForm)

const submitForm = async () => {
    const result = await v$.value.$validate()
    if (result) {
        const result = await axios.get(`https://janrai-json.onrender.com/users?email=${userForm.email}&password=${userForm.password}`)
        console.log(result)
        if (result.status == 200 && result.data.length > 0) {
            localStorage.setItem("user-info",JSON.stringify(result.data[0]))
            // console.log("Logged In")
            toast.success("Signup Complete!",{
              transition: toast.TRANSITIONS.FLIP,
              position: toast.POSITION.TOP_CENTER,
              autoClose: 1000,
            })
            errorUser.userNotFound = "พบผู้ใช้งาน"
            router.push(state.name)
        } else {
            // console.log("No User Found")
            toast.error("Form error",{
              transition: toast.TRANSITIONS.FLIP,
              position: toast.POSITION.TOP_CENTER,
              autoClose: 1000,
            })
            errorUser.userNotFound = "ไม่พบผู้ใช้งาน"
        }
    } else {
      toast.error("Form error",{
          transition: toast.TRANSITIONS.FLIP,
          position: toast.POSITION.TOP_CENTER,
          autoClose: 1000,
        })
    }
}

const login = () => {
    router.push(state.name)
}
</script>

<style scoped>
input {
  border: none; /* เอา border ออกก่อน */
  border-bottom: 1px solid #808080; /* เส้น border ด้านล่างสีเทา */
}

input::placeholder {
  color: #808080; /* สีของ placeholder เทา */
}

.form-control {
  width: 100%;
  margin-bottom: 10px; /* เพิ่ม margin เล็กน้อย */
}

.btn {
  background-image: linear-gradient(
    to right,
    #ff6f91,
    #ff9671
  ); /* สี background gradient */
  width: 100%;
  border: none; /* ไม่มี border */
  color: white; /* สีของตัวหนังสือ */
  padding: 10px 20px; /* ขนาดของปุ่ม */
  text-align: center; /* จัดข้อความกึ่งกลาง */
  text-decoration: none; /* ไม่มี underline */
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px; /* เพิ่ม margin ด้านบน */
  cursor: pointer;
  border-radius: 10px; /* ความโค้งของขอบ */
}

.signup-link {
  text-decoration: none; /* ไม่มี underline */
  font-weight: bold; /* เน้นตัวหนังสือ */
  color: #007bff; /* สีของตัวหนังสือ */
}

.signup-link:hover {
  text-decoration: underline; /* เมื่อ hover ให้มี underline */
  color: #0056b3; /* เปลี่ยนสีเมื่อ hover */
}
</style>
