<template>
    <div class="container col-6 mt-5 mb-3">
    <div class="card border border-dark">
      <div class="card-body ps-3">
        <h2 class="card-title pt-5 mb-5 text-center">Signup</h2>
            <p class="card-text p-4">
                  <form @submit.prevent>
                      <label for="" class="form-label">Username</label><br>
                      <input type="text" v-model="userForm.username" placeholder="Username" class="form-control mb-3" style="width: 100%" required><br>
                      <span class="text-danger" v-for="error in v$.username.$error" :key="error.$uid" :v-if="true">{{ error.$message }}</span>
                      
                      <label for="" class="form-label">Email</label><br>
                      <input type="email" v-model="userForm.email" placeholder="Email" class="form-control mb-3" style="width: 100%;" required><br>
                      <span class="text-danger" v-for="error in v$.email.$error" :key="error.$uid" :v-if="true">{{ error.$message }}</span>
                      
                      <label for="" class="form-label">Password</label><br>
                      <input type="password" v-model="userForm.password" placeholder="Password" class="form-control mb-3" style="width: 100%" required>
                      <span class="text-danger" v-for="error in v$.password.$error" :key="error.$uid" :v-if="true">{{ error.$message }}</span>
                      
                      <button type="submit" class="btn" @click="submitForm">Signup</button>
                  </form>
                  <p class="text-center mt-5">Already have account? <br>
                      <router-link :to="{ name:'login' }" class="signup-link">LOGIN</router-link>
                  </p>
            </p>
      </div>
    </div>
  </div>
</template>

<script setup>
import axios from "axios";
import { reactive, computed } from "vue";
import { required,email,minLength } from "@vuelidate/validators";
import { useVuelidate } from '@vuelidate/core';
import router from "@/router";
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";

const state = reactive({
    // redirectTo:"/"
     name: 'login'
})

const userForm = reactive({
    username: "",
    email: "",
    password: "",
})

const rules = computed(() => {
    return {
        username: { required },
        email: { required, email },
        password: { required, minLength: minLength(4) },
    }
})


const v$ = useVuelidate(rules, userForm)

const submitForm = async () => {
    const result = await v$.value.$validate()
    if (result) {
        toast.success("Signup Complete!",{
          transition: toast.TRANSITIONS.FLIP,
          position: toast.POSITION.TOP_CENTER,
          autoClose: 1000,
        })
        const result = await axios.post(`https://janrai-json.onrender.com/users`, {
            username: userForm.username,
            email: userForm.email,
            password: userForm.password,
        })

        if (result.status == 201) {
            console.log('Signup complete')
            localStorage.setItem("user-info", JSON.stringify(result.data))
            console.log(result.data)
            console.log(JSON.stringify(result.data))
            router.push(state.name)
        } else {
            console.log('Signup incomplete')
        }
    } else {
      toast.error("Signup Error",{
          transition: toast.TRANSITIONS.FLIP,
          position: toast.POSITION.TOP_CENTER,
          autoClose: 1000,
        })
    }
}

</script>

<style scoped>
input {
  border: none; 
  border-bottom: 1px solid #808080; 
}

input::placeholder {
  color: #808080; 
}

.form-control {
  width: 100%;
  margin-bottom: 10px; 
}

.btn {
  background-image: linear-gradient(
    to right,
    #ff6f91,
    #ff9671
  ); 
  width: 100%;
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px; 
  cursor: pointer;
  border-radius: 10px;
}

.signup-link {
  text-decoration: none; 
  font-weight: bold; 
  color: #007bff; 
}

.signup-link:hover {
  text-decoration: underline; 
  color: #0056b3; 
}
</style>