<template>
  <navbar-view />
  <router-view></router-view>
  <footer-view />
</template>

<script setup>
import { useHead } from '@unhead/vue'
import { computed, reactive } from 'vue';
import { RouterView } from 'vue-router';
import NavbarView from './views/NavbarView.vue';
import FooterView from './views/FooterView.vue';

const siteData = reactive({
  title: 'Janrai',
  description: 'Made for education'
})

useHead({
  title: computed(()=>siteData.title),
  meta:[
    {
      name: 'description',
      content:computed(()=>siteData.description),
    }
  ]
})
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Anta&family=IBM+Plex+Sans+Thai&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Noto+Sans+Thai:wght@100..900&display=swap');
*{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

</style>